@import url('https://fonts.googleapis.com/css?family=Gelasio|Karla:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2rem;
}

h1, h2, h3 {
  font-family: Gelasio, 'serif';
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.7rem;
  margin: 30px 0 20px 0;
}

header {
  margin: 25px 0;
}

body {
  font-family: Karla, 'sans-serif';
  padding: 0 5vw;
  text-align: center;
}

.top-bar {
  display: grid;
  grid-template-columns: 90% auto;
  grid-template-rows: 33px auto;
}

.hidden-menu {
  display: none;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  position: relative;
  right: 5vw;
  width: 100vw;
  z-index: 1;
}

.hidden-menu > ul {
  background-color: white;
  padding: 0 5vw;
  position: absolute;
  width: 100%;
}

.hidden-menu > ul > li {
  list-style-type: none;
  margin: 30px 0;
  text-align: center;
}

.nav-button {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.toggler {
  display: none;
  grid-column: 2 / auto;
  grid-row: 1 / span 1;
}

.hamburguer {
  display: flex;
  justify-content: left;
}

.hamburguer > div {
  background-image: url(/assets/images/icon-hamburger.svg);
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
}

.toggler:checked + label > div {
  background-image: url(/assets/images/icon-close.svg);
}

.toggler:checked ~ .hidden-menu {
  display: block;
}

.content-image {
  position: relative;
  right: 5vw;
  width: 100vw;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: block;
  border: 1px solid black;
  justify-self: center;
  margin: 40px 0 80px 0;
  padding: 10px;
  width: 55vw;
}